:root {
  --dark-gray-color: #505050;
  --ligth-gray-color: #777777;
  --light-yellow-color: #f8f7aadc;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: var(--white-color);
}

header {
  padding: 30px;
  text-align: center;
  background-color: var(--white-color);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 12px;
  color: var(--white-color);
  background-color: var(--dark-gray-color);
  width: 100%;
}

footer a {
  text-decoration: none;
  color: var(--white-color);
}

footer .github-icon {
  margin-right: 10px;
}


main {
  padding: 0 40px;
}

main h3 {
  margin: 40px auto 20px;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: var(--dark-gray-color);
  border-radius: 30%;
}

main .contacts h3 {
  margin-top: 0;
  margin-bottom: 0;
  transform: translate(0, -50%);
  border-radius: 30%;
}

main li {
  margin-bottom: 10px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list-item a {
  color: var(--white-color);
}

.navigation {
  background-color: var(--dark-gray-color);
}

.main-container {
  margin: 20px auto;
  width: 1024px;
  font-family: "Neucha", sans-serif;
  font-size: 20px;
  line-height: 2;
  background-color: var(--white-color);
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}

.two-columns {
  display: flex;
}

.left-column {
  width: 50%;
  color: var(--dark-gray-color);
  background-color: var(--light-yellow-color);
}

.right-column {
  width: 58%;
  padding: 40px;
}

.avatar {
  margin-bottom: 10px;
  border: 20px solid var(--light-yellow-color);
  border-radius: 30%;
}

.name {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.contacts li img {
  vertical-align: middle;
  margin-right: 15px;
}

.contacts li p {
  display: inline;
  vertical-align: middle;
}

.language-name {
  font-weight: 700;
  text-transform: uppercase;
}

.right-column .section-header {
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
}

.right-column .section .section-header {
  margin-top: 0;
}

.section p {
  margin-bottom: 10px;
  margin-left: 45px;
}

.section p:last-of-type {
  margin-bottom: 0;
}

.right-column h3 {
  flex: 1;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--ligth-gray-color);
  border-bottom: 2px solid var(--ligth-gray-color);
}

.right-column img {
  vertical-align: middle;
  margin-right: 15px;
}

.right-column p {
  color: var(--ligth-gray-color);
}

.education p {
  margin-left: 45px;
}

.education p strong {
  font-weight: 700;
}

.courses ul {
  list-style-type: disc;
  margin-left: 45px;
  margin-bottom: 30px;
}

.courses li {
  margin-bottom: 10px;
  color: var(--ligth-gray-color);
}

.right-column img.score-img {
  display: block;
  margin: 0 auto;
}


.code {
  margin-left: -10px;
  margin-top: 20px;
  padding-left: 30px;
  font-family: monospace;
  font-size: 16px;
  background-color: var(--white-color);
}


.my-github {
  display: flex;
  align-items: center;
}